.btnStart {
  background: none;
  border: none;
  cursor: pointer;
}

.banner {
  margin-top: 7rem;
  text-align: center;
}

.title {
  display: block;
  font-size: 2rem;
}

.description {
  font-weight: bold;
  margin-top: 2rem;
  color: #008000;
}

.loader {
  animation: is-rotating 60s infinite;
  border-radius: 100%;
  height: 150px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
